<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <a href="/new">Add a new message!</a>
    <body>
        <% messages.forEach((message) => { %>
        <ul>
            <li><strong>user: </strong><%= message.username %></li>
            <li>
                <strong>message:</strong>
                <p><%= message.message %></p>
            </li>
            <li>added on <%= message.date %></li>
        </ul>
        <input type="button" id="<%= message.id %>" value="message details">
        <% }) %>
        <script src="./js/index.js"></script>
    </body>
</html>
